.html {
  font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”,
    “Helvetica Neue”, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  color: #222;
  margin: 0;
  padding: 0;
}
.content {
  background: rgba(48, 62, 83, 1);
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
  width: 100%;
}
