html
  head
    style
      include ../mail_style.css
  body
    div.content
      h1 Welcome to QuickSend
      p Thanks for signing up. We're excited to help your business move faster.
      a(href=registrationLink)
        button Start sending documents
